<div class="container">
    <section class="row">
      <section class="col-md-6 offset-md-3">
        <form [formGroup]="signupForm" novalidate>
          <div class="form-group">
            <input class="form-control" formControlName="name" type="text" placeholder="Name">
            <div *ngIf="signupForm.controls['name'].invalid && (signupForm.controls['name'].dirty || signupForm.controls['name'].touched)" class="error-message">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" formControlName="email" type="email" placeholder="Email">
            <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)" class="error-message">
              <div *ngIf="signupForm.controls['email'].errors?.['required']">Email is required.</div>
              <div *ngIf="signupForm.controls['email'].errors?.['email']">Invalid email format.</div>
            </div>
          </div>
          <div class="form-group">
            <label>
              <input type="radio" formControlName="gender" value="male"> Male
            </label>
            <label>
              <input type="radio" formControlName="gender" value="female"> Female
            </label>
            <label>
              <input type="radio" formControlName="gender" value="other"> Other
            </label>
            <div *ngIf="signupForm.controls['gender'].invalid && (signupForm.controls['gender'].dirty || signupForm.controls['gender'].touched)" class="error-message">
              Gender is required.
            </div>
          </div>
          <button type="submit" [disabled]="signupForm.pristine || signupForm.invalid" class="btn-submit">
            Sign Up
          </button>
        </form>
        <br>
        <div class="form-output">
          <p>Form value: {{ signupForm.value | json }}</p>
          <p>Form status: {{ signupForm.status | json }}</p>
        </div>
      </section>
    </section>
  </div>
  