<div class="container my-5">
  <div class="row">
    <section class="jumbotron j1">
      <h3 class="display-4 ">Contact Us</h3>
      <p class="lead">Choose your preferred method of contact to connect with our customer service team or find more information with our FAQs</p>
    </section>
  </div>
  <div class="row g-3">
    <!-- First Section: Call Us -->
    <div class="col-md-4">
      <div class="jumbotron custom-jumbotron">
        <h1 class="jumbotron-title">Call Us</h1>
        <p class="jumbotron-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <button class="btn custom-btn">123-456-7890</button>
      </div>
    </div>
    <!-- Second Section: Email Us -->
    <div class="col-md-4">
      <div class="jumbotron custom-jumbotron">
        <h1 class="jumbotron-title">Email Us</h1>
        <p class="jumbotron-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <button class="btn custom-btn">Email Us</button>
      </div>
    </div>
    <!-- Third Section: Messages -->
    <div class="col-md-4">
      <div class="jumbotron custom-jumbotron">
        <h1 class="jumbotron-title">Messages</h1>
        <p class="jumbotron-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="d-flex flex-column align-items-center">
          <button class="btn custom-btn mb-2">Message 1</button>
          <button class="btn custom-btn">Message 2</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
    <div class="row">
      <section class="jumbotron j1">
        <h5 class="display-4 ">Or Meet Us!</h5>
        <p class="lead">Office in Tokyo, Japan</p>
      </section>
    </div>
<app-map-link></app-map-link>

